@charset "utf-8";
$font-size:16px;
html{
    font-size: $font-size;
}
@function ptr($px){
    @return $px/$font-size*1rem;
}
*{
    padding: 0px;
    margin: 0px;
}
//弹性盒子
header{
    display: flex;
    align-items: center;
//  justify-content: space-around;
    height:ptr(40px);
    position: fixed;
    top:ptr(0px);
    width: 100%;
    margin-top: ptr(10px);
}
.header{
    border: 1px solid;
    width: 70%;
    height: ptr(30px);
    padding-left:2%;
    box-sizing: border-box;
    border-radius:ptr(15px) ;
    background-color: white;
    margin-left: 1%;
}
.header img:nth-of-type(1){
    width:7%;
    transform: translateY(2px);
}
.header img:nth-of-type(2){
    width:6%;
    transform: translateY(3px);
}
header input{
    display: inline-block;
    height: ptr(14px);
    
    border: none;
    outline: none;

    
}
header label{
    display: inline-block;
    height: ptr(30px);
    width:16% ;
    color: black;
    border-radius: ptr(15px);
    border: 1px solid;
    text-align: center;
    padding-top: ptr(3px);
    box-sizing: border-box;
    margin-left: 3%;
    color: white;
}

.banner{
    width: 100%;
    
    img{
        width: 100%;
    }
}
.me_figure{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    figure{
        width: 18%;
        margin:ptr(10px) 0 ptr(10px) 0;
        text-align: center;
    }
    
    img{
        width: 70%;
    }
    figcaption{
        font-size: 14px;
    }
}
.kuaibao{
     display: flex;
    align-items: center;
    margin: ptr(15px) ptr(10px);
    img{
        width: 20%;
    }
       p:nth-of-type(1){
        width: 52%;
        font-size: 12px;
    }
    p:nth-of-type(2){
        width: 10%;
        padding-left: ptr(10px);
        border-left: 1px solid #676767;
        color: #6B379A;
        margin-left:18%;
        font-size: 12px;
    }
    
}
.miaosha{
        display: flex;
        align-items: center;
        h4:nth-of-type(1){
        color: red;
    }
    p:nth-of-type(2){
      margin-left: 22%;
      color: red;  
      font-size: 14px;
    }
 }
 .ms_banner{
     width: 100%;
     display: flex;
      justify-content: space-between;
      margin: ptr(15px) ptr(5px);
     figure{
         width: 30%;
       text-align: center;
     }
     img{
         width: 100%;
     }
     figcaption{
         color:#FF3636;
     }
     p{
         text-decoration:  line-through;
     }
 }
    
    .haohuo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        img{
            width: 48%;
            margin-top: ptr(5px);
        }
    }
    .faxian{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: ptr(66px);
        figure{
            width:30%;
            text-align: center;
        }
        img{
            width: 100%;
        }
        h3{
            margin: ptr(20px) 0px;
        }
        p{
            color: #8C8C8C;
            font-size: 14px;
            margin-bottom: ptr(10px);
        }
        
    }
    footer{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #000022;
        position: fixed;
        bottom: 0;
        height: ptr(80px);
        figure{
//          margin-top: ptr(20px);
            width: 15%;
            text-align: center;
        }
        img{
            width: 70%;
        }
        figcaption{
            color:white;
        }
    }
